# Configuration for archiver.
# Comment out any section to disable that feature.

[archiver]

storage_backend="dropbox"

[dropbox]
token="DROPBOX_TOKEN_GOES_HERE"

# [vimeo]
# token="TOKEN_GOES_HERE"

# [youtube]
# access_token = "TOKEN_GOES_HERE"
# client_id = "TOKEN_GOES_HERE"
# client_secret = "TOKEN_GOES_HERE"
# refresh_token = "TOKEN_GOES_HERE"
# token_uri = "https://accounts.google.com/o/oauth2/token"

[[flysight]]
name = "data"
mountpoint = "/mnt/archiver/flysight"

[[mass_storage]]
name = "video"
mountpoint="/mnt/archiver/mass_storage"
# The extensions of files that we should be archiving
# Only files with this extension will be uploaded and removed, leaving the directories intact
extensions = ["mp4"]

#  [gswoop]
#  binary = "/Applications/gSwoop.app/Contents/MacOS/gswoop"

[sendgrid]
token = "TOKEN_GOES_HERE"
from = "richo@example.net"
to = "richo@example.org"
subject = "archiver upload report"

[pushover]
token = "TOKEN_GOES_HERE"
recipient = "USER_TOKEN_GOES_HERE"
