# Configuration for stokepile.
# Comment out any section to disable that feature.

[stokepile]
api_base="https://test-api.base"
api_token="STOKEPILE_TOKEN_GOES_HERE"
[staging]
mountpoint="/test/staging/dir"

[dropbox]
token="DROPBOX_TOKEN_GOES_HERE"

[vimeo]
token="VIMEO_TOKEN_GOES_HERE"

# [youtube]
# access_token = "TOKEN_GOES_HERE"
# client_id = "TOKEN_GOES_HERE"
# client_secret = "TOKEN_GOES_HERE"
# refresh_token = "TOKEN_GOES_HERE"
# token_uri = "https://accounts.google.com/o/oauth2/token"

[[flysight]]
name = "data"
mountpoint = "/mnt/stokepile/flysight"

[[mass_storage]]
name = "video"
mountpoint="/mnt/stokepile/mass_storage"
# The extensions of files that we should be archiving
# Only files with this extension will be uploaded and removed, leaving the directories intact
extensions = ["mp4"]

#  [gswoop]
#  binary = "/Applications/gSwoop.app/Contents/MacOS/gswoop"

[sendgrid]
token = "TOKEN_GOES_HERE"
from = "richo@example.net"
to = "richo@example.org"
subject = "stokepile upload report"

[pushover]
token = "TOKEN_GOES_HERE"
recipient = "USER_TOKEN_GOES_HERE"

[web_notifications]
enabled = true
