<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Web interface to github.com/richo/stokepile">
  <title>Stokepile</title>
  <link rel="stylesheet" href="/static/pure.css">
  <link rel="stylesheet" href="/static/grids-responsive-min.css">
  <link rel="stylesheet" href="/static/stokepile.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script type="module" src="/static/media-server.js"></script>
</head>

<body>
  <div id="menu" class="media-menu">
    <div class="pure-menu">
      <div class="pure-menu-heading">stokepile</div>
      <ul class="pure-menu-list" id="media-list>
        <li class="pure-menu-item">
        / <a href="#" id="stage-button">stage</a>
        </li>
        <li class="pure-menu-item">
          <a href="#" id="refresh-button" class="pure-button pure-button-small">refresh media</a>
        </li>
        <li class="pure-menu-item">
          <a href="#" id="clear-button" class="pure-button pure-button-small">clear media</a>
        </li>
      </ul>
      <div class="pure-menu-heading">media</div>
      <ul class="pure-menu-list" id="media-list">
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="header">
      <a href="/" class="pure-button home-button">stokepile</a>
      <div class="header-actions">
      </div>
    </div>
