<div class="header">
  <div class="pure-u-1">
    <h2>Admiiiiiin!</h2>
  </div>
  <div class="header-actions">
    <a href="/admin/users" class="pure-button button-small pure-button-disabled">Users</a>
  </div>
</div>
