{{> common/header }}

<div class="header">
  <div class="header-actions">
    <!-- TODO(richo) Use helpers for these as well? Something we can bury in the global context object -->
    <a href="/rigging/customers" class="pure-button button-small">Customers</a>
    <a href="/rigging/equipment" class="pure-button button-small">Equipment</a>
    <a href="/rigging/service_bulletins" class="pure-button button-small">Service Bulletins</a>
    <a href="/rigging/equipment/due" class="pure-button button-small">Due Rigs</a>
    <a href="/rigging/settings" class="pure-button button-small">Settings</a>
  </div>
</div>
