{{> common/header }}

<div class="header">
  <div class="header-actions">
    <a href="/rigging/customers" class="pure-button button-small">Customers</a>
    <a href="/rigging/service_bulletins" class="pure-button button-small">Service Bulletins</a>
  </div>
</div>
