{{> common/rigging-header }}

<div class="pure-g">
  <div class="pure-u-1">
    {{#if flash_message}}
    <div class="flash-message flash-message-{{flash_message.0}}">
      {{flash_message.1}}
    </div>
    {{/if}}

    <div class="error">
      Customer id {{ data.customer_id }} not found.
    </div>
  </div>
</div>
{{> common/footer }}
