{{> common/rigging-header }}

<div class="pure-g">
  <div class="pure-u-1">
    {{> common/flash-message}}

    <div class="error">
      Customer id {{ data.customer_id }} not found.
    </div>
  </div>
</div>
{{> common/footer }}
