{{> common/header }}

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Oops.</h2>
    <div>
      <p>This link looks broken.</p>
      <p>If you're thinking this shouldn't, <a href="mailto:{{maintainer_info "email"}}">email support</a></p>
    </div>
  </div>
</div>

{{> common/footer }}
