{{> common/header }}
{{> common/admin }}

<div class="pure-g">
  <div class="pure-u-1">
    {{> common/flash-message}}

    <div>
      <form method="POST" class="pure-form" action="/admin/invite">
        <fieldset>
          <legend>Invite users</legend>

          <input type="email" name="email" placeholder="Email">
          <button type="submit" class="pure-button pure-button-primary">Create invite</button>
        </fieldset>
      </form>
    </div>

  </div>
</div>

{{> common/footer }}
