{{> common/header }}

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Thankyou for testing Stokepile!</h2>
    <div>
      <p>Some things to be aware of while testing this beta:</p>
      <ul>
        <li>Your settings and integrations might not roll over into the GA release.</li>
        <li>YOUR DATA IS SAFE! None of your data ever resides with Stokepile, the only thing that would be lost would be your configuration.</li>
        <li>Not all of the integrations work yet. At this time Dropbox definitely works, and Vimeo should be working. Please let me know if the others are broken.</li>
        <li>If you run into bugs, please hassle <a href="mailto:richo@psych0tik.net">richo</a> about them.</li>
        <li>You can fetch the mac client from the <a href="https://github.com/richo/stokepile/releases">Releases page on github</a></li>
      </ul>
    </div>
  </div>
</div>

{{> common/footer }}
