<!-- vim: ft=html -->
{{> common/header }}
<div class="content">
  <h2 class="content-subhead">Dropbox configuration</h2>

  <p>
  {{#if local.success}}
  Congratulations, you connected your dropbox account
  {{else}}
  Something went wrong configuring dropbox
  {{/if}}
  </p>

</div>
{{> common/footer }}
