<!-- vim: ft=html -->
{{> common/header }}
<div class="content">
  <h2 class="content-subhead">Dropbox configured</h2>

  <p>
  Congratulations, you connected your dropbox account
  </p>

</div>
{{> common/footer }}
