{{> common/header }}

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Setup Guide</h2>
    <div>
      <p>Thanks for choosing to use Archiver!</p>
      <p>Let's get you set up.</p>
      <h3>First, let's configure your staging location</h3>
      <p>This is where files will be stored temporarily between being taken off
      your device, and uploaded to the third party services you configure.</p>
      <ol>
        <li>Go to <b>settings</b></li>
        <li>Choose the way your staging will be mounted
          <p>Your choices here are:
          <ul>
            <li><b>Label</b>: This is the label property of a mass storage device; the name you gave it.</li>
            <li><b>Mountpoint</b>: Usable only on linux, this will attempt to mount the given location for you.</li>
            <li><b>Location</b>: If you want to use your normal hard disk, or arrange for it to be melted another way, choose this way. Simply enter the path to the staging location.</li>
          </ul></p>
        </li>
        <li>Enter the path or label for the device you have chosen</li>
      </ol>
      <h3>Now, let's configure your devices</h3>
      <p>This is where you tell archiver about your cameras.</p>
      <ol>
        <li>Click <b>archiver</b> in the top left to return home.</li>
        <li>Each devices needs:
          <ul>
            <li><b>Name</b>: This is the name archiver will store the footage under, so make it something that makes sense!</li>
            <li><b>Kind</b>: What type of device is this? ptp is for gopro.</li>
            <li><b>Serial/Label</b>: For gopro devices, use the serial. Otherwise, use the label of the mass storage device.</li>
          </ul></p>
        </li>
      </ol>
      <h3>Finally, download your config!</h3>
      <p>Click the big blue button, and save it somewhere that you'll be able to find it later.</p>
    </div>
  </div>
</div>

{{> common/footer }}
