{{> common/header }}

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Setup Guide</h2>
    <div>
      <p>Thanks for choosing to use Archiver!</p>
      <p>Let's get you set up.</p>
      <ol>
      </ol>
    </div>
  </div>
</div>

{{> common/footer }}
