{{> common/header }}

{{#if user}}
<div class="pure-g">
  <div class="pure-u-1">
    <p>
    <a href="/media" class="pure-button home-button">media</a>
    <a href="/rigging" class="pure-button home-button">rigging</a>
    </p>
  </div>
</div>
{{else}}
{{> common/signin }}
{{/if}}

{{> common/footer }}
