{{> common/header }}

<h1>Errors about power draw</h1>

<p>
It is possible that connecting your Flysight device to your iPad or iPhone will give you an error about the Flysight drawing too much power.
</p>

<p>
There are a few causes for this problem:

<ul>
  <li>Not using a powered adaptor for your Flysight</li>
  <li>Using a powered adaptor incorrectly</li>
</ul>

or in rare cases:

<ul>
  <li>Having a Flysight firmware that is too old</li>
</ul>
</p>

{{> common/footer }}
