{{> common/media_server/header }}

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Media Player</h2>
    <!-- TODO(richo) This should be a template that our rust code can just barf into -->
    <!-- the dom so we can erase it each time and start over -->
    <div id="media-view"></div>
  </div>
</div>

{{> common/media_server/footer }}
