{{> common/media_server/header }}

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Media Player</h2>
    <video controls width="600" id="media-player">
      Sorry, your browser doesn't support embedded videos.
    </video>
    <form>
      <label for="name">Name: </label>
      <input type="text" name="name" id="name">
    </form>
  </div>
</div>

{{> common/media_server/footer }}
