<video controls width="600" id="media-player">
  <source src="{{this.video_source}}">
  Sorry, your browser doesn't support embedded videos.
</video>
<div id="trim-slider"></div>
<form>
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="{{this.video_name}}">
</form>
